* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display-image {
    margin: 20px;
    width: 400px;
    height: 225px;
    border: 1px solid blanchedalmond;
    background-position: center;
    background-size: cover;
    border-radius: 20px 0 20px 0;
}

input[type="file" i] {
    color: brown;
    font-size: 15px;
}

input[type="file" i]::-webkit-file-upload-button {
    cursor: pointer;
    color: brown;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: blanchedalmond;
}